@import '/styles/common/colors';
@import '/styles/common/heights';
@import '/styles/common/breakpoints';

.cards_container{
    width: 100%;
    background-color: $neutral_light;
    padding: 100px 3% 100px;
    height: calc(100vh - $footer_height - $navbar_height);
    overflow-y: scroll;
    box-sizing: border-box;
}

@media (max-width: $breakpoint-tablet) {
    .cards_container{
        overflow-y: inherit;
    }
  }