/*** PRIMARY ***/
$primary_regular: #008f2a;
$primary_dark: #006917;
$primary_light: #38bb5f;
$primary_regular20: rgba(0, 143, 42, 0.2);
$primary_regular40: rgba(0, 143, 42, 0.4);
$primary_regular5: rgba(0, 143, 42, 0.05);

/*** SECONDARY ***/
$secondary_regular: #ff9420;
$secondary_dark: rgb(189, 101, 19);
$secondary_light: #fcab53;

/*** SEMANTIC ***/
//INFO
$yellow: #ffd10d;
$black: #131213;
$white: #E6E4E5;
$neutral: #a5a5a5;
$neutral_dark: #312e30;
$neutral_light: #d3d3d3;

//ERR
$semantic_err_regular: #9E241C;
$semantic_err_dark: #6E130C;
$semantic_err_light: #EF8B83;

//WARN
$semantic_warn_regular: #E7C929;
$semantic_warn_dark: #544809;
$semantic_warn_light: #EFD96C;

//POSITIVE
$semantic_positive_regular: #27DB85;
$semantic_positive_dark: #09542C;
$semantic_positive_light: #6CEFA9;


/*** NEUTRAL ***/
$neutral_light1: #E6E4E5;
$neutral_light2: #F5F4F4;
$neutral_light3: #FAF9FA;
$neutral_midlight: #CDCBCC;
$neutral_middark: #A4A1A3;
$neutral_dark1: #686466;
$neutral_dark2: #343233;
$neutral_dark3: #1A1919;
$neutral_dark4: #131213;
$neutral_80: rgba(21, 21, 21, 0.8);

/*** GRADIENT ***/
$gradient_primary: linear-gradient(180deg, #17020C 26.92%, #490828 100%);
$gradient_secondary: linear-gradient(180deg, #021417 17.19%, #041F24 100%);

/*** BOX-SHADOWS ***/
$neutral_shadow: 0px 3px 10px 3px rgba(165, 165, 165, 0.8);
$primary_shadow: 0px 7px 0px 0px rgba(0, 105, 23, 0.8);
$secondary_shadow: 0px 7px 0px 0px rgba(189, 101, 19, 0.8);


/*** BLUR ***/
$background_blur: rgba(26, 25, 25, 0.7);
