@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300;400;600;800&display=swap");

$primary-font: "Luckiest Guy", cursive;
$secondary-font: "Open Sans", sans-serif;

@mixin primary_typo {
  font-family: $primary-font;
  color: $black;
}

@mixin secondary_typo {
  font-family: $secondary-font;
  color: $black;
}

@mixin secondary_typo_bold {
  @include secondary_typo;
  font-weight: 600;
}

@mixin secondary_typo_light {
  @include secondary_typo;
  font-weight: 300;
}

/*** PRIMARY ***/

@mixin primary_H1 {
  @include primary_typo;
  font-size: 4rem;
}
@mixin primary_H2 {
  @include primary_typo;
  font-size: 3.5rem;
}
@mixin primary_H3 {
  @include primary_typo;

  font-size: 3rem;
}
@mixin primary_H4 {
  @include primary_typo;
  font-size: 2.5rem;
}
@mixin primary_H5 {
  @include primary_typo;
  font-size: 1.5rem;
}
@mixin primary_H5_light {
  @include primary_typo_light;
  font-size: 1.5rem;
}
@mixin primary_body {
  @include primary_typo;
  font-size: 1rem;
}
@mixin primary_body_light {
  @include primary_typo;
  font-size: 1rem;
  letter-spacing: 1px;
}

/*** SECONDARY ***/

@mixin secondary_H2 {
  @include secondary_typo;
  font-size: 3.5rem;
}
@mixin secondary_H3 {
  @include secondary_typo;
  font-size: 3rem;
}
@mixin secondary_H4 {
  @include secondary_typo;
  font-size: 2.5rem;
}

@mixin secondary_H5 {
  @include secondary_typo;
  font-size: 1.5rem;
}

@mixin secondary_H6 {
  @include secondary_typo;
  font-size: 1.25rem;
}

@mixin secondary_body {
  @include secondary_typo;
  font-size: 1rem;
}
@mixin secondary_body_bold {
  @include secondary_body;
  font-weight: 600;
}
@mixin secondary_body_light {
  @include secondary_body;
  font-weight: 300;
}
