@import '/styles/common/colors';


.container{
    width: 50px;
    background-color: $secondary_regular;
    border: none;
    border-radius: 8%;
    box-sizing: border-box;
    &:focus{
        border: none;
    }
    &:hover{
        background-color: $secondary_light;
    }
}