@import '../../../styles/common/colors';
@import '../../../styles/common/heights';
@import '../../../styles/common/fonts';
@import '../../../styles/common/mixin';

.container{
    @include row_center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    height: $footer_height;
    background-color: $neutral_dark;
}

.text{
    @include secondary_body;
    color: $white;
    & > span{
        @include secondary_body_bold;
        color: $secondary_light;
        text-decoration: underline;
    }
}