@import './common/mixin.scss';
@import './common/margins.scss';
@import './common/colors.scss';
@import './common/heights.scss';
@import './common/breakpoints.scss';

.container {

}

.main {
  @include row_space_between;
  align-items: flex-start;
  max-height: calc(100vh - $footer_height - $navbar_height);
}

.filters_container{
  @include column_space_between;
  background-color: $neutral;
  min-width: 400px;
  width: 25%;
  max-height: calc(100vh - $footer_height - $navbar_height);
  padding: $navbar_height 3%;
}
.filter_container {
  @include row_space_between;
  @include large_margin_bottom;
}
.checkbox_container, .button_container{
  @include column_center;
}
.button_container{
  @include large_margin_top;
}
.cards_container{
  position: relative;
  background-color: $neutral_light;
  width: 75%;
  // overflow-y: hidden;
  height: calc(100vh - $footer_height - $navbar_height);
}
.pagination_container{
  @include column_center;
  justify-content: center;
  height: $navbar_height;
  width: 100%;
  background-color: $neutral;
  position: absolute;
  z-index: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


@media (max-width: $breakpoint-tablet) {
  .main{
    @include column_space_between;
    min-height: 0;
  }
  .filters_container{
    width: 100%;
    max-height: inherit;
  }
  .cards_container{
    position: inherit;
    width: 100%;
  }
}